# Ignore OS files like .DS_Store or Thumbs.db
*.DS_Store
*Thumbs*.db

# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
